.container {
  margin: 50px 0px;
  padding: 0px 10px;
  background-color: #f2f5f5;
  display: flex;
  justify-content: space-between;
  color: #4f585e;
}

.container > div:nth-child(1) {
  padding: 50px 0px;
  box-sizing: border-box;
}

.container > div > p {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 60px;
}

.container > div > p:nth-child(2) {
  margin-bottom: 16px;
}

.appStores {
  display: flex;
  gap: 2%;
}

.appStores > div {
  width: 18.5%;
}
