.container {
  margin-top: 50px;
  padding: 16px;
  box-sizing: border-box;
}

.topBar {
  display: flex;
  justify-content: space-between;
}

.topBar > h3 {
  color: #4f585e;
}

.card {
  margin: 0 10px;
}

.card > img {
  max-height: 229px;
  width: 100%;
  border-radius: 6px;
}

.para {
  margin: 0;
  color: #4f585e;
  font-size: 14px;
  letter-spacing: 0.5px;
}
