.container {
  display: flex;
  background-color: #a291fa;
  gap: 8%;
  box-sizing: border-box;
  padding: 0px 2%;
  margin: 0px 16px;
  margin-top: 80px;
  border-radius: 5px;
  height: 100px;
}

.line {
  flex: 3;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-top: 26px;
}
